PORT_GATEWAY=3000
PORT_USER_SERVICE=3001
PORT_CLASS_SERVICE=3002
PORT_GRADE_SERVICE=3003

JWT_SECRET=super_secret_dev_key

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME_USERS=schoolinc_users
DATABASE_NAME_CLASSES=schoolinc_classes
DATABASE_NAME_GRADES=schoolinc_grades